.all-films-header{
  text-align: center;
}

.all-films-table{
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.posterEl img{
  height: 300px;
  margin:10px;
  border-radius: 5%;
}

.film-item {
  border: 1px solid grey;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.film-name{
  width: 30%
}
.film-year{
  width: 10%
}

.film-item button{
  background-color: red;
  width:10%;
}