.users-cont{
display: flex;
/* display: inline-block; */
flex-direction: column;

}

.users {
  border:1px whitesmoke solid;
  margin: 10px;
  padding: 10px;
  min-width: 800px;
}
.users span{
  margin-right: 20px;
  color: whitesmoke;
  font-size: 22px;
  font-weight: 600;
}

.users-cont button {
  margin-right: 20px;
  padding:5px;
  cursor:pointer
}
.change-role-form button {
margin-left: 10px;
}
.user-form-cont{
  display: flex;
  align-items: center;
}
.change-role-form{
  border:solid 1px whitesmoke
}