.film-info {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.input-cont{
  display: flex;
  flex-direction: column;
}
.input-name {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 5px 0; 
}

.input-name input{
  width: 200px;
}

.multi-names-cont{
  display: flex;
  flex-direction: column;
}

.actw-wid{
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.btn-grp{
  display: flex;
}
.btn-grp button{
margin-left: 3px;
margin-right: 3px;
}
.add-item{
  cursor:pointer;
  position:static;
  width: 20px;
}
.titles-width{
  width:  160px;
  background-color: blueviolet;
}

.films-out img {
  height: 100px;
}

.actors-cont {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.image-preview {
  max-width: 50px;
  max-height: 50px;
}

.nav-links{
  margin-top: 50px;
}

