.header{
    display: flex;
	width: 90%;
	height: 50px;
	margin: auto;
	align-items: center;
    transition: all 0.5s;
}


.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container{
    flex: 1;
}

.logo-container img{
    position: absolute;
    top: 0px;
    left: -10px;
    height: 100px;
    margin-left: 10px;
}

.header nav{
    display: flex;
    width: 50%;

}

.nav-links{
    justify-content: space-around;
	list-style: none;
    width:100%
}


.nav-links a{
    color: whitesmoke;
	font-size: 1rem;
	text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-links li {
    color: whitesmoke;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(50px);
    }
}

.footer img{
    width: 100%;
    position: absolute;
    left: 0px;
    top:10vh
}