* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 4px;
    color: #c70039;
    transition: all 0.4s ease;
}

::-webkit-scrollbar-thumb{
    background: #c70039;
    border-radius: 4px;
    width: 4px;
    transition: all 0.4s ease;
}

::-webkit-scrollbar-track{
    background: #101010;
    border-radius: 4px;
    width: 4px;
}


body{
	font-family: 'Poppins', sans-serif;
    background: #101010;
    background-image: url(img/footer_moon_and_house.png);
    background-size: cover;
    color: rgb(223, 150, 150);
}

body.light{
    background: rgb(216, 211, 211);
    color: #101010;
}

body.light a {
    color:  #101010;
}

body.light #wb_switcher{
    border: 1px solid #101010;
     color: #101010;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
