.slider {
    position: relative;
    width: 90%;
    height: 350px;
    /* margin: 40px; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.slider-img {
    position: absolute;
    padding:  50px ;
    width: 100%;
    /* margin: 20px 0; */
    height: auto;
    transition: all 1.5s;
    display: flex;
    justify-content: center;
    
}
 
.slider-img-prev {
    transform: translateX(-100%);
}
 
.slider-img-next {
    transform: translateX(100%);
}

.slider-img img {
   border-radius:20px;
   width: 100%;
   margin: 0 50px;
   
}

.container {
    display: flex;
    align-items: center;
   
} 

.container i {
    font-size: 30px;
}
.rightbtn {
    margin-right: 2rem;
}
.leftbtn {
  margin-left: 2rem;  
}