
.slider-cont{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.carousel{
    overflow: hidden;
    width: 90%;
}
.slider-cont i{
    cursor: pointer;
    z-index:5;
    font-size: 50px;  
}

.inner{
    white-space: nowrap;
    flex-wrap: wrap;
    transition: transform .3s;    
     
}

.carousel-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* height: 400px; */
    
}

.buttons-slider{
    display: flex;
    justify-content: center;    
}

.buttons-slider > button{
    margin: 5px;

}


.carousel1{
    overflow: hidden;
    /* width: 1000px; */
}

.inner1{
    white-space: nowrap;
    transition: transform .3s;
    
}

.carousel-item1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
}

.buttons-slider1{
    display: flex;
    justify-content: center;    
}

.buttons-slider1 > button{
    margin: 5px;
    

}