.slider {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.slider-img {
    position: absolute;
    padding:40px;
    width: 100%;
    height: auto;
    transition: all 1.5s;
    display: flex;
    justify-content: center;
    
}
 
.slider-img-prev {
    transform: translateX(-100%);
}
 
.slider-img-next {
    transform: translateX(100%);
}

.slider-img img {
   border-radius:20px;
   width: 100%;
   
   
}

button {
  position: absolute;

}
.fbtn {
    left: 20px;
    top:200px
}
.bbtn {
    right: -20px;
    top:200px
}